# exclude all paths on top level
/*

__pycache__

# paths to include back on top-level
# ----------------------------------
!src
!tests
!examples

# github (actions)
!.github

# ==================================



# files to include
# ----------------

!.gitignore
!.git-blame-ignore-revs

!README.md
!LICENSE

# package manager stuff
!pyproject.toml
!uv.lock


# ================